@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url('../fonts/SourceCodePro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../fonts/SourceCodePro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url('../fonts/SourceCodePro-Semibold.woff') format('woff');
}
html, body {
    height: 100%;
    min-height:280px;
    margin:0;
    padding:0;
    overflow: hidden;
}
* {
	font-family: 'Source Sans Pro', 'Source Code Pro';
	font-weight: 400;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.item-row , .header-row, .result-row, .download-row {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	padding:0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #ECECEC;
	background: #FAFAFA;
	cursor: pointer;
	color: #444;
	font-size:12px;
    line-height: 24px;
}
.header-row {
	padding:6px 0;
}
.selected-row {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	border-top: 1px solid #2271A5;
	border-bottom: 1px solid #2576AC;
	background: #3A9ADA;
	color: white;
	text-shadow: 1px 1px #2576AC;
}
.item-row.dark , .header-row.dark {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #202020;
    background: #424242;
    color: #FFF;
}
.selected-row.dark {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    border-top: 1px solid #2271A5;
    background: #3A9ADA;
    color: white;
    text-shadow: 1px 1px #255A94!important;
}
#item_filter.dark {
    background-color: #727272;
    background-image: none;
    border: 0;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #969696;
    color: white;
    height: 30px;
}
.download-button , .preview-button {
	height: 20px;
	margin: 2px;
	line-height: 6px!important;
	color: #666!important;
}
.sort_search input, .sort_search button, .sort_search div {
	height:28px;
}
.sort_search * {
	font-size:12px!important;
}
#item_filter {
    font-size:12px!important;
    height: 28px;
	margin: 1px -1px;
}
.item-row div, .current-track-container, .result-row div, .download-row div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#contextmenu {
	font-size:12px;
	position: fixed;
	left:0;
	top:0;
}
#playlist_list {
	font-size:11px;
	position: relative;
	width:100%;
	border:0;
	box-shadow:none;
	left:0;
	top:0;
}
#playlist_list li {
	padding-left:8px;
}
#contextmenu li a {
	cursor: pointer;
	outline:0!important;
}
#control_bar{
    width:100%;
    padding: 0 15px;
	height: 55px;
	border-bottom: 1px solid #bebebe;
	background: #fefefe;
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	line-height: 50px;
	z-index: 999;
    position: fixed;
	/*
	    overflow: hidden;
	*/
}
#control_bar.dark {
	border-color: #141414;
}
.sidebar {
	width:200px;
	position:fixed;
	border-right:1px solid #ccc;
	background:ddd;
	height: 100%;
	overflow: hidden;
	z-index: 500;
	transition: all 0.4s ease 0s;
	background: #D2DFE4;
	padding:0!important;
}
.sidebar.dark {
    border-color:#141414;
    background:#222;
}
@media (min-width:768px){
	.content {
		padding-left:215px!important;
	}
}

.content {
	height:100%;
    background:#fafafa;
}
.content.dark {
    background:#424242;;
}
.header-row {
	padding-right: 200px;
    z-index: 1;
    cursor: default;
    line-height: 30px;
    position:fixed;
    width:100%;
    background: #fdfdfd;
	border-bottom: 1px solid #ddd;
	box-shadow: 1px 1px 1px rgba(0,0,0,.05);
}
.items-container, .pageview {
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
    position:relative;
    top:44px;
}
#page_views_container{
	height:100%;
	padding-bottom:44px;
}
.page-wrapper {
    position: absolute;
    bottom:0;
    top:55px;
    width:100%;
}
#media_controls button {
    width:33.334%;
    height:40px;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
}
#media_controls {
    width:100%;
    position:absolute;
    bottom:0;
}
.row-status-container {
    text-align:center;
    padding: 6px 0;
}
.toolbar_buttons {
    padding:10px;
}
.toolbar_buttons > button.btn-default {
    border-color:#ddd;
}
.toolbar_buttons > button.btn-primary {
    border-color: #427DAF;
}
#sidebar_list {
	width:100%;
	margin:0;
	padding:0;
	position:absolute;
	z-index:999;
}
.sidebar-row:first-child {
	border-top:0;
}
.sidebar-row {
	padding:3px;
	cursor:pointer;
	color: #5F767F;
	font-weight:800;
	margin:0px 0;
	background:#DCE8EC;
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px solid #C9D4D8;
}
#progress_container {
	height:3px;
}
#progress_bar {
	width: 0%;
	background: rgb(81, 157, 255);
	height: 3px;
}
.btn-default:focus {
	background: inherit!important;
}
.btn {
	box-shadow: 1px 1px 0px rgba(0,0,0,.05);
}
.rating-container {
	display: inline-block;
}
.rating {
	display: table-cell!important;
	line-height: 8px!important;
	letter-spacing: 5px;
	font-size:13px;
}
#playlist_list {
	display:block;
}
.hidden-list-item {
	padding-left:5px;
}
.slider-line {
	margin:0 4px;
	cursor: pointer;
	width: 80px;
	height: 6px;
	border-radius: 3px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	background: rgba(0,0,0,.01);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.05) inset;
}
.slider-pointer {
	display:inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	position: relative;
	margin: -4;
	background: white;
	cursor: pointer;
	box-shadow: 0px 1px 1px rgba(0,0,0,.05);
	left: 0px;
}
#volume_icon {
	position:relative;
	top:3px;
}
#track_pointer {
	margin-left:-7px;
	width: 14px;
	height: 14px;
	-webkit-transform: rotate(45deg);
	display: inline-block;
	position: absolute;
	border: 1px solid #aaa;
	background: white;
	top: 46px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,.06);
	z-index: 99999;
}
#track_pointer:hover , #track_pointer:active {
	box-shadow: 0px 0px 4px 1px rgba(54, 132, 250, 0.4);
	border: 1px solid #888;
}
#track_pointer {
	transition-property: box-shadow, border;
	transition-duration: 0.05s;
}
#cover_art_container {
	width:100%;
	position:absolute;
	bottom:55px;
	text-align:center;
	overflow:hidden;
	background: #444;
	box-shadow: inset 0px 0px 15px 0px #222;
}
img#cover_art_image {
	overflow:hidden;
	margin: 5% auto;
	width: 60%;
	opacity:0.8;
	transition-property: opacity;
	transition-duration: 0.1s;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0px 0px 0px 1px #fff, 1px 1px 8px 0px black;
	border-radius: 2px;
}
img#cover_art_image:hover {
	opacity:1;
}
.controls-container {
	overflow:hidden;
	height:51px;
}
#app_title {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#cover_art_actions_container > div > button {
	color: white;
	text-shadow: 1px 1px #333;
	background: #555;
	border-color: #222;
	border-radius: 0;
	box-shadow: inset 1px 1px rgba(255,2555,255,.1);
}
.playlist:drag-over , .playlist:-moz-drag-over , .playlist:-webkit-drag-over {
	background:#CCD8DC;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #B9C4C8;
}
#playlist_view {
	display:none;
}
#sort_by {
	height:28px;
	line-height:14px;
}
#sort_menu {
	width: 72px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: -4px 0 0;
	max-width: 72px;
	border: 1px solid #ccc;
	min-width: 72px;
}

@media (max-width:767px){
	.content {
		padding-left:15px!important;
	}
	.header-row {
		padding-right:15px!important;
	}
}
