@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url('../fonts/SourceCodePro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../fonts/SourceCodePro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url('../fonts/SourceCodePro-Semibold.woff') format('woff');
}
html, body {
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
}
* {
	font-family: 'Source Code Pro';
	font-weight: 400;
	user-select: none;
	-webkit-user-select: none;   
	-moz-user-select: none;
}
.item-row , .header-row {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	padding:0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #ECECEC;
	background: #FAFAFA;
	cursor: pointer;
	color: #444;
	font-size:12px;
    line-height: 24px;
}
.header-row {
	padding:6px 0;
}
.selected-row {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	border-top: 1px solid #2271A5;
	border-bottom: 1px solid #2576AC;
	background: #3A9ADA;
	color: white;
	text-shadow: 1px 1px #2576AC;
}
.item-row.dark , .header-row.dark {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #202020;
    background: #424242;
    color: #FFF;
}
.selected-row.dark {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    border-top: 1px solid #2271A5;
    background: #3A9ADA;
    color: white;
    text-shadow: 1px 1px #255A94!important;
}
#item_filter.dark {
    background-color: #727272;
    background-image: none;
    border: 0;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #969696;
    color: white;
    height: 30px;
}
#item_filter {
    height: 30px;
}
.item-title, .current-track-container {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#contextmenu {
	font-size:11px;
	position: fixed;
	left:0;
	top:0;
}
#playlist_list {
	font-size:11px;
	position: relative;
	width:100%;
	border:0;
	box-shadow:none;
	left:0;
	top:0;
}
#playlist_list li {
	padding-left:8px;
}
#contextmenu li a {
	cursor: pointer;
	outline:0!important;
}
#control_bar{
    width:100%;
    padding: 0 15px;
	height: 55px;
	border-bottom: 1px solid #bebebe;
	background: #fefefe;
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	line-height: 50px;
	z-index: 999;
    position: fixed;
    overflow: hidden;
}
#control_bar.dark {
	border-color: #141414;
} 
.sidebar {
	border-right:1px solid #ccc;
	background:ddd;
	height: 100%;
	overflow-y: auto;
	z-index: 500;
	transition: all 0.4s ease 0s;
	padding:0!important;
}
.sidebar.dark {
    border-color:#141414;
    background:#222;
}
.content {
	height:100%;
	overflow-y:scroll;
    background:#fafafa;
}
.content.dark {
    background:#424242;;
}
.header-row {
    z-index: 1;
    cursor: default;
    line-height: 30px;
}
.items-container {
    
}
.page-wrapper {
    position: absolute;
    bottom:0;
    top:55px;
    width:100%;
}
#media_controls button {
    width:33.334%;
    height:40px;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
}
#media_controls {
    width:100%;
    position:absolute;
    bottom:0;
}
.row-status-container {
    text-align:center;
    padding: 6px 0;
}
.toolbar_buttons {
    padding:10px;
}
.toolbar_buttons > button.btn-default {
    border-color:#ddd;
}
.toolbar_buttons > button.btn-primary {
    border-color: #427DAF;
}
#sidebar_list {
	width:100%;
	margin:0;
	padding:0;
}
.sidebar-row:first-child {
	border-top:0;
}
.sidebar-row {
	padding:3px;
	cursor:pointer;
	color: #5F767F;
	font-weight:800;
	margin:0px 0;
	background:#DCE8EC;
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px solid #C9D4D8;
}
#notification_bar {
	position: absolute;
	z-index: 10000;
	border-bottom: 1px solid #aaa;
	width: 100%;
	bottom: -30px;
	background: #303030;
	color: #F0B00C;
	padding:4px 0;
}
#notification_bar marquee {
	font-weight:800;
}
#notification_bar span {
	color:white;
}
#progress_container {
	height:3px;
}
#progress_bar {
	width: 0%;
	background: rgb(81, 157, 255);
	height: 3px;
}
.btn-default:focus {
	background: inherit!important;
}
.btn {
	box-shadow: 1px 1px 0px rgba(0,0,0,.05);
}
.rating-container {
	display: inline-block;
}
.rating {
	display: table-cell!important;
	line-height: 8px!important;
	letter-spacing: 5px;
	font-size:13px;
}
#playlist_list {
	display:block;
}
.hidden-list-item {
	padding-left:5px;
}
